body {
    background-image: url("images/checklist-chalk-board-list-chalkboard.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:silver;
    
}